{% extends 'base-backend.html.twig' %}

{% block title %}Evénements - WeFrip'{% endblock %}

{% block body %}
{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
<div class="d-flex flex-wrap justify-content-between align-items-center">
    <h1>Evénements</h1>
    {# <a href="{{ path('app_admin_event_new') }}" class="btn btn-dark"><i class="align-middle" data-feather="file-plus"></i></a> #}
    <a href="{{ path('app_map') }}" class="btn btn-primary"><i class="align-middle" data-feather="file-plus"></i></a>

</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Nom de l'image</th>
                <th>Coordonnées (lat)</th>
                <th>Coordonnées (lng)</th>
                <th>Slug</th>
                <th>Ajouté le</th>
                <th>Créateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.eventName }}</td>
                <td>{{ event.eventDate ? event.eventDate.format('d-m-Y H:i:s') : '' }}</td>
                <td>{{ event.eventImageName }}</td>
                <td>{{ event.coordinateLat }}</td>
                <td>{{ event.coordinateLng }}</td>
                <td>{{ event.eventSlug }}</td>
                <td>{{ event.eventUpdatedAt ? event.eventUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.creator }}</td>
                <td>
                    <a href="{{ path('app_admin_event_show', {'id': event.id}) }}" class="btn btn-warning"><i class="align-middle" data-feather="eye"></i></a>
                    <a href="{{ path('app_admin_event_edit', {'id': event.id}) }}" class="btn btn-success"><i class="align-middle" data-feather="edit-3"></i></a>
                    <a href="{{ path('app_admin_event_edit', {'id': event.id}) }}" class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Pas de données enregistrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
