{% extends 'base.html.twig' %}

{% block title %}Catégories des tutoriels - WeFrip'{% endblock %}

{% block body %}

<div class="d-flex">
        <a href="{{ path ('app_tutorial') }}">
            <button type="submit" class="btn bouton mt-3"><i data-feather="arrow-left"></i> Retour </button>
        </a>
</div>

<h1 class="text-center m-3">Tutoriels - Toutes les catégories </h1>

<div class="row">
    {% for category in categories %}
    <div class="col-12 col-md-4 col-lg-3 mb-3 d-flex justify-content-center align-items-center">
        <div class="bouton btn h-100 shadow">
            <a href="{{ path ('app_category_show', {categorySlug :category.categorySlug}) }}">
                <img src="{{ asset('/img/imageCategory/' ~ category.categoryImageName) }}" class="card-img-top rounded category-image" alt="{{category.categoryImageName}}">
                <h3 class="text-center my-2">{{category.categoryName}}</h3>
            </a>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
